<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Index page</title>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div>
        <button><a href="/login">Login</a></button>
        <button><a href="/signup">Signup</a></button>
    </div>
</body>
</html>