<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Login page</title>
	<style>
		body { padding-top:80px; }
	</style>
</head>
<body>
    <div>
        <div>
            <h1>Login</h1>
            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div>
                    <label>Username</label>
                    <input type="text" name="userId">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label>Remember Me</label>
                    <input type="checkbox" name="remember" value="yes">
                </div>
                <button type="submit">Login</button>
            </form>
            <hr>
            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</body>
</html>