<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Profile page</title>
	<style>
		body 	{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div>
	<div>
		<h1>Profile Page</h1>
		<a href="/logout">Logout</a>
	</div>
	<div>
		<!-- LOCAL INFORMATION -->
		<div>
			<div>
				<h3>Local</h3>
					<p>
						<strong>id</strong><br>
						<strong>userId</strong><br>
						<strong>password</strong>
					</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>