<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Signup page</title>
	<style>
		body { padding-top:80px; }
	</style>
</head>
<body>
	<div>
		<h1>Signup</h1>
		<!-- LOGIN FORM -->
		<form action="/signup" method="post">
			<div>
				<label>Username</label>
				<input type="text" name="userId">
			</div>
			<div>
				<label>Password</label>
				<input type="password" name="password">
			</div>
			<button type="submit">Signup</button>
		</form>
		<hr>
		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>
	</div>
</body>
</html>