<!-- <input id = "id" type="text" placeholder="아이디"><br>
<input id = "name"  type="text" placeholder="이름"><br>
<input id = "pw"  type="text" placeholder="비밀번호"><br>
<input id = "confirm-pw"  type="text" placeholder="비밀번호 확인"><br> -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/profile.js" defer></script>
  <title>Document</title>
</head>
<body>
  <!-- 1. 회원정보 왜 안돼지? -->
  <!-- 2. 인풋은 잘되던데 -->
  <button id = "editBtn">회원정보 수정</button>
  <button  id = "updateBtn">프로필 사진 업데이트</button>
</body>
</html>