<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/profile.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div id="profile-img"></div>
  <button id = "editBtn">회원정보 수정</button>
  <button id = "updateBtn">프로필 사진 업데이트</button>
  <button id = "deleteBtn">회원 탈퇴</button>
</body>
</html>