<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/userEdit.js" defer></script>
  <title>Document</title>
</head>
<body>
  <input id = "id" type="text" placeholder="아이디"><br>
  <input id = "pw-old" type="text" placeholder="현재 비밀번호"><br>
  <input id = "pw-new"  type="text" placeholder="새 비밀번호"><br>
  <input id = "pw-confirm"  type="text" placeholder="비밀번호 확인"><br>
  <button>edit</button>
</body>
</html>