<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/userUpload.js" defer></script>
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
    </form>
    <div id="previewBtn">preview</div>
    <div id="uploadBtn">upload</div>
    <div id="image-show"></div>
</html>